@{
    ViewBag.Title = "About";
}

<div class="container-fluid wrapper_2">

    <div class="col-sm-6 col-sm-offset-3 about_yourself_container">
        @Html.Raw(ViewBag.AboutContent)
    </div>

    <a href="http://bezier-svg-d3-generator.azurewebsites.net/">
        <p class="footer menuDelete">
            &copy; @DateTime.Now.Year - Дніпро, Україна
        </p>
    </a>

    <div class="sendButton backFromProject">
        <a href="javascript:history.go(-1)" class="btnPro">Попередня сторінка</a>
    </div>

</div>