.covers {
    position: absolute;
    top: 14%;
    width: 67%;
    bottom: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    /*border: 3px solid blue;*/
}

.leftRow {
    margin: 4px;
    float: right;
}

.rightRow {
    margin: 4px 4px 4px -15px;
}

.marg {
    margin-left: 5px;
}

.shadow {
    box-shadow: 4px 3px 11px 0px #000000;
}

    .shadow:hover {
        box-shadow: 4px 3px 11px 0px #000000;
        /*opacity: 0.2;*/
    }

.sectionImg {
    display: inline-block;
    position: relative;
}

.sectionTitle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: white; 
    font: bold 16px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: #8B2927;
    opacity: 0;
    padding: 10px; 
}


.sectionTitle:hover {
    opacity: 0.85;
}

.feedbackLabel {
    color: white;
}

.feedbackTitle {
    margin-bottom: 50px;
}

.sendButton {
    padding: 0 0 15px 15px;
}

.captchaValidation {
    color: #FFD3D3;
}

.field-validation-error {
    color: #FFD3D3;
}

.pagination1 {
    position: absolute!important;
    bottom: -50px!important;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backFromProject{
    position: absolute!important;
    bottom: 5px;
    right: 0;
}

.btnPro{
    /*border: 2px solid #949494;*/
    padding: 10px 12px;
    text-decoration: none!important;
    border-radius: 3px;
    color: #949494;
    background: #494846;
}
.btnPro:hover{
    color: white;
}