
@{
    ViewBag.Title = "Index";
}

<h2  class="topPad">Dashboard</h2>

@*<div>
    @Html.ActionLink("Адміністративна панель", "Index", "Dashboard")
</div>
<div>
    @Html.ActionLink("Проекти", "Index", "ManageFeedbacks")
</div>*@