@model IEnumerable<BookArt.Models.Page>

@{
    ViewBag.Title = "Books";
}

<div class="container-fluid wrapper_1">
    <div class="container covers ">
        <div id="flipbook">
            @{
                int counter = 0;
            }

            @foreach (var item in Model)
            {
                <div style="background-image:url(@item.ImgUrl);"></div>

                if (counter == 0 || counter == Model.Count() - 2)
                {
                    @Html.Raw("<div class=\"hard\"></div>")
                }

                counter++;
            }
        </div>
    </div>

    <div class="row footer animate1">
        <p> &copy; @DateTime.Now.Year - Дніпро, Україна</p>
    </div>
</div>


@Scripts.Render("~/bundles/turnjs")