
.navbar-nav a, .navbar-header a {
    color: #caabab;
}

.navbar-nav a:hover {
    color: #8B2927 !important;
}

.Enlarged {
    height: 510px;
    z-index: 2;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.breadCrumb{
    background-color: #494846;
    color: #949494;
    text-align: right;
    position: absolute!important;
    bottom: 0;
    left: 10px;
}

.breadCrumbBook{
    /*background-color: #494846;*/
    background-color: initial;
    color: #949494;
    text-align: right;
    position: absolute!important;
    /*bottom: 50px;*/
    bottom: 0;
    /*left: 50px;*/
    left: 0;
    /*color: #caabab;*/
}

.breadCrumbPage{
    background-color: initial;
}

.breadCrumbBook a,
.breadCrumb a {
    color: #caabab;
}

.breadCrumbBook a:hover,
.breadCrumb a:hover {
    color: white;
}

.backFromProject a{
    color: #caabab;
}

.backFromPage a{
    background-color: initial;
}

#UsersEmail, #Content {
    width: 300px;
}